<%= render user_signed_in? ? "../views/navbar_loggedin" : "../views/navbar_notloggedin" %>


<div class="container-fluid card-container d-flex justify-content-center flex-wrap">
  <% @listings.each do |listing| %>
    <a class="card col-5 mx-2 px-0 my-2 border-0" style="text-decoration:none" href="<%= listing_path(listing) %>">
      <img class="card-img-top" src="https://lh3.googleusercontent.com/proxy/wOdhrPksn0Ymh38ufKVPuRlcTlFl02F7lhwzAxQStlKag0lKmoQ8qe7mwmWO78UbchKTFeNCkI4Q-o1gA7ZWdTKlzXTggeWAPtbkE-JSrbzMX-kmH-yvk3KAd1nMKKHnYCw6rnDgIRdHXug1XX1mBciv">
      <div class="card-infos mx-2">
        <div class="row justify-content-between mt-2 mx-1">
          <h2><%= listing.name %></h2>
          <div class="row justify-content-between mx-1">
            <h3 class="mx-1">$70</h3>
            <h4>per day</h4>
          </div>
        </div>
        <p class="mx-1"><%= listing.description %></p>
      </div>
    </a>
  <% end %>
</div>

<%= render "../views/footer" %>
