<% yield %>
<%= render user_signed_in? ? "../views/navbar_loggedin" : "../views/navbar_notloggedin" %>



<div class="container">
  <h1 class="mt-4"><%= @listing.name %></h1>
  <div class="card-trip mt-2">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
    <div class="card-trip-infos">
      <div class="d-flex flex-column justify-content-between">
        <div>
          <h2><%= @listing.name %> | <%= @listing.vehicle_type %></h2>
          <p><%= @listing.description %></p>
        </div>
        <div>
          <h2>Where can you find me?</h2>
          <p><%= @listing.country %></p>
          <p><%= @listing.city %></p>
        </div>
      </div>
      <h2 class="card-trip-pricing"><%= @listing.price %></h2>
      <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
    </div>
  </div>
</div>




<% yield %>
<%= render "../views/footer" %>
