<% yield %>
<%= render user_signed_in? ? "../views/navbar_loggedin" : "../views/navbar_notloggedin" %>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1529313779164-31ef6a34524f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);">
  <div class="container">
    <h1>WEhicles for <strong>awesome people</strong> with <strong>awesomeness</strong>!</h1>
    <p>Enjoy an experience that you didn't dare to dream about</p>
    <a class="btn btn-light"<%= link_to "Explore", listings_path  %></a>
  </div>
</div>




<h1>cool  pages home stuff</h1>
<p>YESYESYESYESYESYESYESYESYESYESYESYESYESYESYESYES</p>


<div class="container-fluid card-container d-flex justify-content-center flex-wrap">
  <% Listing.all.sample(6).each do |listing| %>
    <a class="card col-5 mx-3 px-0 my-3 border-0" style="text-decoration:none" href="<%= listing_path(listing) %>">
      <img class="card-img-top" src="<%= cl_image_path listing.photo.key %>">
      <% end %>
      <div class="card-infos mx-2">
        <div class="row justify-content-between mt-2 mx-1">
          <h2><%= listing.name %></h2>
          <div class="row justify-content-between mx-1">
            <h3 class="mx-1"><%= listing.price %>€/day</h3>
          </div>
        </div>
        <div class="row justify-content-between mx-1">
          <h5><em><%= listing.city %>, <%= listing.country %></em></h5>
        </div>
        <p class="mx-1"><%= listing.description %></p>
      </div>
    </a>
  <% end %>
</div>




<% yield %>
<%= render "../views/footer" %>

